<footer>
  <div class="w3-row w3-black">
    <div class="w3-half w3-container w3-center">
      <p>(Creative Commons Attribution) 2021 Burnside High School Student Liscense</p>
    </div>
    <div class="w3-half w3-container">
      <ul class="w3-ul w3-center w3-border">
        <li class="w3-padding-small"><h5>Directory</h5></li>
        <li class="w3-padding-small"><a href="/">Home</a></li>
        <li class="w3-padding-small"><a href="/browse" >Browse Services</a></li>
        <li class="w3-padding-small"><a href="/find_a_service">Find a Service</a></li>
        <li class="w3-padding-small"><a href="/advocacy">Self-Advocacy</a></li>
      </ul><br>
    </div>
  </div>
</footer>